body{
        margin:0
                padding:10px
        background-color: rgba(255, 182, 193, 0.3);
    }
    header{
        background-image: url(imagens/cute2.jpg);
        backgraund-size:cover
            backgraung-position:center
        heigth: 300px;
    }
   

     .hero{
       
        text-align: center;
        font-size: 18px;
        font-family: sans-serif;
             padding:15px;
    }
    .overflow{
        
        text-align: center;
        font-family: sans-serif;
        background-color: rgba(255, 182, 193, 0.5);
            padding:15px;
            border-radius:15px;
            margin:10px
h3{
            color:blue;

            text-align: center;
    }
    a{
        font-size: 21px;
        position: fixed;
        top: 500px;
right: 2px;
        background-color: rgba(255, 182, 193, 0.5);
        

    }
    #text{
        background-color: powderblue;
        font-size: 35px;
        background-color: powederblue;
    }
    
    .container{
        display: flex;
        
    }
    img{
            max-width:100%
                    weigth:auto
border-radius:10px

margin: 10px;
        
    }
footer{
        backgraund-color: powederblue;
        text-aling: center;
        padding:10px;
}
      footer{
        background-color: rgba(255, 182, 193, 0.5);
        text-align: center;
        font-family: sans-serif;
        padding:5px;
      }
      

    
