body{
        background-color: rgba(255, 182, 193, 0.3);
    }
    header{
        background-image: url(imagens/cute2.jpg);
        height: 100%;
        padding-top: 1px;
    }
   

     .hero{
        position: sticky;
        bottom: 0px;
        top: 0px;
        text-align: center;
        font-size: 20px;
        font-family: sans-serif;
    }
    .overflow{
        
        text-align: center;
        font-family: sans-serif;
        background-color: rgba(255, 182, 193, 0.5);
    }
    h3{
            color:powerderblue;
            text-aling:center;
    }
    p{
        font-size: 35px;
        background-color: powederblue;
    }
    .container{
        display: flex;
        
    }
    img{
margin-right: 20px;
        width: 200px;
    }
footer{
        backgraund-color: powederblue;
        text-aling: center;
        padding:10px;
}

    
