
.card img {
  width: 100%;
  border-radius: 10px;
}

/* TEXTO FINAL */
.text {
  background: white;
  margin: 15px;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
}

.text a {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  background: #ff4d88;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
}

/* RODAPÉ */
footer {
  text-align: center;
  padding: 10px;
  background: #ffccd5;
}

/* CELULAR */
@media (max-width: 600px) {
  .hero {
    height: 200px;
  }
}
